#navigation {
	display: none;
}

.burgericon {
	width: 30px;
	height: 30px;
	display: none;
}

.burgericon div {
	width: 90%;
	margin: 7px 5%;
	height: 3px;
	background-color: #694247;
}

#burgerBtn {
	display: none;
}

#navigation {
	opacity: 0;
}

@media (max-width: 800px) {
	#navigation {
		display: inline;
	}
	
	nav ul {
		position: fixed;
		top: 90px;
		left: 0;
		width: 100vw;
		min-height: 100vh;
		background-color: #ffffff;
		display: inherit;
		text-align: center;
	}
	
	nav ul li {
		width: 100vw;
	}
	
	
	/* DROPDOWN */
	#nav ul ul {
		display: none;
		position: relative;
		top: auto;
		left: auto;
		width: 100%;
		border: 0;
		box-shadow: none;
		min-height: auto;
	}

	#nav ul ul li,
	#nav ul ul li:hover {
		border: 0;
	}

	
	
	.burgericon {
		display: block;
		float: right;
		margin-top: 15px;
		margin-right: 10px;
	}
	
	#burgerBtn {
		display: inherit;
	}
	
	#navbar {
		opacity: 1;
		top: 0;
		left: 0;
		width: 100%;
		padding-left: 25px;
		padding-right: 25px;
	}
	
	.content {
		padding: 50px 25px;
	}
	
	.content-fw, 
	.content-heading {
		padding: 25px 25px;
	}
	
	.content-fw h1, 
	.content-heading h1,
	.content-fw h2, 
	.content-heading h2
	{
		font-size: 30pt;
		line-height: 30pt;
		display: inline-block;
		padding: 0;
		top: 0;
		left: 0;
	}
	
	#footerMain {
		padding: 25px 25px;
	}
	
	#footerBottom {
		padding-right: 25px;
		padding-left: 25px;
	}
	
	.author {
		display: none;
	}
}

/*#navigation:checked ~ nav ul {
	display: inherit;
}*/

#navigation:checked ~ label .burgericon {
	margin-top: 15px;
}
#navigation:checked ~ label .burgericon div:first-of-type{
	rotate: 45deg;
}
#navigation:checked ~ label .burgericon div:last-child{
	rotate: -45deg;
	margin-top: -10px;
}
#navigation:checked ~ label .burgericon div:nth-child(2){
	display: none;
}
